/* ---------------( ba komak inline-block   )------------------ */
body{margin: 0px;}


.top-container2{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    padding: 20px;
    border: 10px;
    border-color: black;
    border-style: solid;
    position:relative;bottom: 111px;

    
    display: inline-block; 
}




.middle-container2{
    width: 200px;
    height: 200px;
    background-color: red;
    border: 20px;
    border-color: black;
    border-style: solid;
    position: relative;right: 5px;
    position: relative;top: 250px;


    display: inline-block; 

}
.bottom-container2{
    width: 200px;
    height: 200px;
    background-color: yellow;
    border: 10px;
    border-color: black;
    border-style: solid;
    position: relative;top: 470px;
    position: relative;right: 10px;

    
    display: inline-block; 
}